.main-header{
    background-color: darkgray;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.header-text-1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    padding-top: 15px;
}
.header-text-2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(10, 51, 128, 0.87);
    padding-bottom: 10px;
}
